export(f.new_config)

export(f.report_config)
export(f.read_data)
export(f.preprocess_covariates)
export(f.add_filter_stats)
export(f.prefilter)
export(f.permute)

export(f.filter_features)
export(f.filter_samples)
export(f.samples_per_feature)
export(f.feature_median_expression)
export(f.features_per_sample)

export(f.normalize_edger)
export(f.normalize_quantile)
export(f.normalize_cpm)
export(f.normalize_vsn)
export(f.normalize_loess)
export(f.normalize_qquantile)

export(f.impute_unif_global_lod)
export(f.impute_unif_sample_lod)
export(f.impute_sample_lod)
export(f.impute_rnorm_feature)
export(f.impute_glm_binom)
export(f.impute_loess_logit)
export(f.impute_rf)
export(f.impute_glmnet)

export(f.test_voom)
export(f.test_trend)
